$previa-orange: #FC7820;

map {
    height: 90vh;
}

.search-control {
    background-color: $previa-orange;
    padding: 1em;
    .form-group {
        color: white;
        .fa {
            color: black;
        }
        .dropdown-menu {
            color: black;
        }
    }
    .directions {
        display: block;
        overflow: scroll;
        table {
            margin-top: 0;
            tbody {
                tr {
                    td {
                        padding: 0.2em;
                    }
                }
            }
        }
    }
    .menu-controls {
        height: 2.5em;
    }
    .menu-btn {
        color: white;
        line-height: 1.5em;
        margin-left: 10px;
        cursor: pointer;
        b {
            font-size: 18px;
            vertical-align: middle;
        }
        &:hover {
            color: black;
        }
        &:active {
            color: black;
        }
        .ng-enter {
            -webkit-animation: fadeInRight 0.5s;
            animation: fadeInRight 0.5s;
        }
        .ng-leave {
            -webkit-animation: fadeInRight 0.5s;
            animation: fadeInRight 0.5s;
        }
    }
}

.direction-button {
    color: red;
    &:hover {
        color: black;
    }
}