$previa-red: #EB0000;

map {
    height: 100vh;
}

.direction-list {
    background-color: darken($previa-red, 5%);
    color: white;
    margin-top: 0;
    border-top: solid thin white;
}

.border-top {
    border-top: solid white thin;
}

.search-control {
    background-color: $previa-red;
    padding: 1em 1em 0 1em;
    .form-group {
        color: white;
        .fa {
            color: black;
        }
        .dropdown-menu {
            color: black;
        }
    }
    .directions {
        display: block;
        overflow: scroll;
        max-height: 100vh;
        table {
            margin-top: 0;
            tbody {
                tr {
                    td {
                        padding: 0.2em;
                    }
                }
            }
        }
    }
    .menu-controls {
        height: 2.5em;
    }
    .menu-btn {
        color: white;
        line-height: 1.5em;
        margin-left: 10px;
        cursor: pointer;
        b {
            font-size: 18px;
            vertical-align: middle;
        }
        &:hover {
            color: black;
        }
        &:active {
            color: black;
        }
        .ng-enter {
            -webkit-animation: fadeInRight 0.5s;
            animation: fadeInRight 0.5s;
        }
        .ng-leave {
            -webkit-animation: fadeInRight 0.5s;
            animation: fadeInRight 0.5s;
        }
    }
}

.direction-button {
    color: white;
    &:hover {
        color: darken(white, 10%);
    }
}