.search-group {
    i {
        margin-right: 1em;
        cursor: pointer;
        pointer-events: auto;

        &:hover {
            color: red !important;
        }
        &:active {
            color: black !important;
        }
    }

    label {
        display: inline-block;
    }
}

.no-gutter {
    padding: 0;
    margin: 0;
}

.directions {
    padding: 0;
    margin: 0;
    height: 100%;
}

.list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.horisontalCheckbox {
    .checkbox {
        display: inline-block;
        margin-right: 1em;
    }
}

.list-item {
    border-bottom: solid thin darken(white, 10%);
    padding: 0.5em 0;
    cursor: pointer;
    &:last-child {
        border: none;
    }
    &:hover {
        background-color: darken(white, 15%);
    }
}
