<div class="container">
	<aside id="panel">
		<input type="text" placeholder="Din position" places-auto-complete types="['geocode']" ng-model="selectedLocation">
	</aside>
	<div class="mapj">
		<h5>{{selectedLocation}}</h5>
		<map>
			<span us-spinner spinner-key="userLocationLoading" spinner-start-active="true"></span>
			<map-data load-geo-json="https://storage.googleapis.com/maps-devrel/google.json"></map-data>
			<shape
				ng-repeat="p in polygons track by p.id"
				id="polygon"
				name="polygon"
				stroke-color="#FF0000"
				stroke-opacity="1.0"
				stroke-weight="2"
				paths="{{p.path}}">
			</shape>
			<marker
				id="{{userPosition.id}}"
				position="{{userPosition.coordinate}}"
				visible="{{userPosition.options.visible}}"
				draggable="{{userPosition.options.draggable}}">
			</marker>

			<directions 
		      draggable="true"
		      panel="directions-panel"
		      travel-mode="{{travelMode}}"
		      origin="{{userPosition.coordinate}}"
		      destination="{{destination}}">
		    </directions>

			<custom-control id="businessAreaToogle" position="TOP_RIGHT" index="1">
				<button ng-click="toogleBusinessAreas()">Toogle Business Areas</button>
			</custom-control>
		</map>
	</div>
</div>