<div class="container-fluid">
    <br>
    <div class="row">
        <form name="searchControl">
            <div class="col-md-4">
                <formly-form model="model" fields="locationField">
                    </form-form>
            </div>
            <div class="col-md-4">
                <formly-form model="model" fields="officeSearchField">
                    </form-form>
            </div>
            <div class="col-md-4">
                <formly-form model="model" fields="MOfilter">
                    </form-form>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <map>
                <div ng-if="office.geocodeAddress" ng-repeat="office in offices">
                    <marker id="{{office.geocodeAddress.formattedAddress}}" on-click="showOfficeInfo(office)" on-position_changed="setScope(event, this)" position="{{office.geocodeAddress.lat + ', ' + office.geocodeAddress.lng}}">
                    </marker>
                </div>

                <info-window id="officeInfo">
                        <div ng-non-bindable>
                            <pre>{{office | json}}</pre>
                        </div>
                </info-window>
            </map>
        </div>
    </div>
</div>
