<div class="container">
    <br>
    <div class="row">
            <div class="col-md-4">
                <formly-form model="locationSearch" fields="locationField">
                    </form-form>
            </div>
            <div class="col-md-4">
                <formly-form model="officeSearch" fields="officeSearchField">
                    </form-form>
            </div>
            <div class="col-md-4">
                <formly-form model="moFilter" fields="MOfilter">
                    </form-form>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <map>
                <marker id="{{userPosition.id}}" zIndex="100" position="{{userPosition.coordinate}}">
                </marker>
                <marker ng-repeat="office in offices" on-click="markerClicked(office)" visible="true" id="{{office.id}}" icon="{{office.markerIcon}}" geo-callback="markerInitialized(office)" position="{{office.street + ', ' + office.postalNumber + ', ' +  office.city}}">
                </marker>
            </map>
        </div>
    </div>
</div>
